{% extends 'eventinfo/account/dashboard-base-page.html' %}
{% load static %}

{% block title %}
{{ profile.user.get_full_name }} |
    ایونت‌اینفو
{% endblock %}


{% block content %}

	<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>سلام، {{ user.first_name }}</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">صفحه اصلی</a></li>
							<li>داشبورد</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Notice -->

		<div class="row">
			<div class="col-md-12">
                {% if message %}
                <div class="notification {% if error %}{{ 'success' }}{% else %}{{ 'error' }}{% endif %} closeable margin-bottom-35">
                    <p>{{ message }}</p>
                    <a class="close"></a>
                </div>
                {% endif %}
			</div>
		</div>

		<!-- Content -->
		<div class="row">

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-1">
					<div class="dashboard-stat-content"><h4>6</h4> <span>آگهی های فعال</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Map2"></i></div>
				</div>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-2">
					<div class="dashboard-stat-content"><h4>726</h4> <span>مجموع بازدیدها</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Line-Chart"></i></div>
				</div>
			</div>

			
			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-3">
					<div class="dashboard-stat-content"><h4>95</h4> <span>مجموع نظرات</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
				</div>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-4">
					<div class="dashboard-stat-content"><h4>126</h4> <span>زمانبندی شده</span></div>
					<div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
				</div>
			</div>
		</div>


		<div class="row">
			
			<!-- Recent Activity -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box with-icons margin-top-20">
					<h4>فعالیت های اخیر</h4>
					<ul>
                        {% for activity in recent_activities %}
						<li>
							<i class="list-box-icon sl sl-icon-heart"></i>
                            رویداد
                            <a href="{% url 'eventinfo:event_detail' event_id=activity.id %}">
                            {{ activity.event_title }}
                            </a>
                            را به لیست اضافه کرده‌اید.
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>
                        {% endfor %}

					</ul>
				</div>
			</div>
			
			<!-- Invoices -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box invoices with-icons margin-top-20">
					<h4>بلیت‌ها</h4>
					<ul>
						{% for order in orders %}
						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>{{ order.event.event_title }}</strong>
							<ul>
                                {% if order.ordered %}
								<li class="paid">پرداخت شده</li>
                                {% else %}
                                <li class="unpaid">پرداخت نشده</li>
                                {% endif %}
								<li>تاریخ: {{ order.updated_at }}</li>
							</ul>
							<div class="buttons-to-right">
                                {% if order.ordered %}
								<a href="{% url 'eventinfo:account_invoice' ref_code=order.ref_code %}" class="button gray">دریافت بلیت</a>
                                {% else %}
                                <a href="{% url 'eventinfo:booking_checkout' event_id=order.event_id %}" class="button gray">تکمیل درخواست</a>
                                {% endif %}
							</div>
						</li>
                        {% endfor %}

					</ul>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© ۱۳۹۹ ایونت‌اینفو. تمامی حقوق محفوظ است.</div>
			</div>
		</div>

	</div>
	<!-- Content / End -->
{% endblock %}
