{% extends 'eventinfo/account/dashboard-base-page.html' %}
{% load static %}

{% block title %}
{{ profile.user.get_full_name }} |
    ایونت‌اینفو
{% endblock %}


{% block content %}

<!-- Content
	================================================== -->
	<div class="dashboard-content">

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>پروفایل من</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">صفحه اصلی</a></li>
							<li><a href="#">داشبورد</a></li>
							<li>پروفایل من</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
        {% if message %}
        <div class="notification {% if error %}{{ 'success' }}{% else %}{{ 'error' }}{% endif %} closeable margin-bottom-35">
            <p>{{ message }}</p>
            <a class="close"></a>
        </div>
        {% endif %}
		<div class="row">

			<!-- Profile -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">جزئیات مشخصات</h4>
					<div class="dashboard-list-box-static">
                        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
						<!-- Avatar -->
						<div class="edit-profile-photo">
                            {{ profile_form.user_image }}
							<img src="{{ profile.user_image.url}}" alt="">
							<div class="change-photo-btn">
								<div class="photoUpload">
								    <span><i class="fa fa-upload"></i> آپلود عکس</span>
								    <input type="file" class="upload" />
								</div>
							</div>
						</div>

						<!-- Details -->
						<div class="my-profile">

							<label>نام</label>
							{{ user_form.first_name}}

                            <label>نام خانوادگی</label>
                            {{ user_form.last_name }}

                            <label>جنسیت</label>
                            {{ profile_form.gender }}

                            <label>تاریخ تولد</label>
                            {{ profile_form.bday }}
                               <!--  <input type="text" id="date-picker" value="{# {{ profile.bday|date:"m/d/Y" }} #}" readonly="readonly"> -->


							<label>موبایل</label>
							{{ profile_form.mobile }}

							<label>ایمیل</label>
                            {{ user_form.email }}


							<label>یادداشت</label>
							<textarea name="notes" id="notes" cols="30" rows="10"> از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون واز صنعت چاپ و با استفاده از طراحان گرافیک اس. </textarea>

						</div>

						<button class="button margin-top-15">ذخیره تنظیمات</button>
                        </form>
					</div>
				</div>
			</div>
            <!-- # TODO: change paswword form -->
			<!-- Change Password -->
			<!-- Change Password -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">تغییر رمز عبور</h4>
					<div class="dashboard-list-box-static">

						<!-- Change Password -->
						<div class="my-profile">
							<label class="margin-top-0">رمز عبور فعلی</label>
							<input type="password">

							<label>رمز عبور جدید</label>
							<input type="password">

							<label>تایید رمز عبور جدید</label>
							<input type="password">

							<button class="button margin-top-15">تغییر رمز عبور</button>
						</div>

					</div>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
				<div class="copyrights">© 1398 لیستئو. تمامی حقوق محفوظ است.</div>
			</div>

		</div>

	</div>
	<!-- Content / End -->

{% endblock %}

{% block script %}
<script src="{% static 'eventinfo/scripts/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/daterangepicker.js' %}"></script>
<script>
// Calendar Init
$(function() {
	$('#date-picker').daterangepicker({
		"opens": "left",
		singleDatePicker: true,
        showDropdowns: true,

	});
});

// Calendar animation
$('#date-picker').on('showCalendar.daterangepicker', function(ev, picker) {
	$('.daterangepicker').addClass('calendar-animated');
});
$('#date-picker').on('show.daterangepicker', function(ev, picker) {
	$('.daterangepicker').addClass('calendar-visible');
	$('.daterangepicker').removeClass('calendar-hidden');
});
$('#date-picker').on('hide.daterangepicker', function(ev, picker) {
	$('.daterangepicker').removeClass('calendar-visible');
	$('.daterangepicker').addClass('calendar-hidden');
});
</script>

{% endblock %}