{% extends 'eventinfo/base_page.html' %}

{% block title %}
ورود | عضویت
{% endblock %}


{% block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>بازیابی کلمه عبور</h2><span>برای بازیابی کلمه عبور، ایمیل و یا نام کاربری خود را وارد نمایید.</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>ورود / عضویت</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock titlebar %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
		<!-- Notice -->

		<div class="row">
			<div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %} closeable margin-bottom-35">
                        <p>{{ message }}</p>
                        <a class="close"></a>
                    </div>
                {% endfor %}
                {% endif %}
			</div>
		</div>
    <div class="row">

			<!-- Profile -->
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box margin-top-0">
					<h4 class="gray">بازیابی کلمه عبور</h4>
					<div class="dashboard-list-box-static">
                        <form action="{% url 'eventinfo:reset_password' %}" method="post" class="ورود">{% csrf_token %}
						<!-- Details -->
						<div class="my-profile">
                            <label for="username">ایمیل یا نام کاربری:
                                <i class="im im-icon-Male"></i>
                                <input type="text" class="input-text" maxlength="254" name="email_or_username" required id="email_or_username">
                            </label>

                        <div class="form-row">
                            <input type="submit" class="button border margin-top-5" name="submit" value="بازیابی کلمه عبور">
                        </div>
						</div>
                        </form>
					</div>
				</div>
			</div>


			<!-- Copyrights -->
			<div class="col-md-12">
                <div class="copyrights">© ۱۳۹۹ ایونت‌اینفو. تمامی حقوق محفوظ است.</div>
			</div>

		</div>

</div>
{% endblock %}
