{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" dir="rtl" lang="fa">
<head>

<!-- Basic Page Needs
================================================== -->
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'eventinfo/css/style.css' %}">
<link rel="stylesheet" href="{% static 'eventinfo/css/main-color.css' %}" id="colors">
{% block css %}{% endblock %}

</head>

<body {% block index_css %}{% endblock %}>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a {{index_page}} href="{% url 'eventinfo:index' %}">صفحه اصلی</a></li>

						<li><a {{events_page}} href="{% url 'eventinfo:event_list' %}">رویداد‌ها</a>
						</li>

						<li><a {{organizers_page}} href="#">برگزار کننده‌ها</a>
						</li>

						<li><a {{support_page}} href="#">پشتیبانی</a>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
                    {% if user.is_authenticated %}
                        <div class="user-menu">
                            <div class="user-name"><span><img src="{{ user.profile.user_image.url }}" alt=""></span>حساب من</div>
                            <ul>
                                <li><a href="{% url 'eventinfo:account_dashboard' %}"><i class="sl sl-icon-settings"></i> داشبورد</a></li>
                                <li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> پیام ها</a></li>
                                <li><a href="{% url 'eventinfo:account_bookings' %}"><i class="fa fa-calendar-check-o"></i> رزرو ها</a></li>
                                <li><a href="{% url "eventinfo:account_profile" %}"><i class="sl sl-icon-user"></i>حساب کاربری </a></li>
                                <li><a href="{% url "eventinfo:logout" %}"><i class="sl sl-icon-power"></i> خروج</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim">
                        <i class="sl sl-icon-login"></i> ورود</a>
                    {% endif %}
					<a href="{% url 'eventinfo:account_bookings' %}" class="button border with-icon">پیگیری خرید <i class="fa fa-ticket"></i></a>
				</div>
			</div>
			<!-- Right Side Content / End -->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>ورود</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li><a href="#tab1">ورود</a></li>
						<li><a href="#tab2">ثبت نام</a></li>
					</ul>

					<div class="tabs-container alt">

						<!-- Login -->
						<div class="tab-content" id="tab1" style="display: none;">
							<form action="{% url "eventinfo:login" %}" method="post" class="ورود">{% csrf_token %}

								<p class="form-row form-row-wide">
									<label for="username">نام کاربری:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">رمز عبور:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="lost_password">
										<a href="#" >فراموشی رمز عبور؟</a>
									</span>
								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="ورود" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">مرا به خاطر داشته باش</label>
									</div>
								</div>

							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">

							<p class="form-row form-row-wide">
								<label for="username2">نام کاربری:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="email2">آدرس ایمیل:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">رمز عبور:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">تایید رمز عبور:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="ثبت نام" />

							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->
        {% block book_popup %}{% endblock %}

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

{% block banner %}{% endblock %}
{% block titlebar %}{% endblock %}

{% block content %}{% endblock %}


<!-- Footer
================================================== -->
<div id="footer" class="margin-top-15">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="images/logo.png" alt="">
				<br><br>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>لینک های کمکی</h4>
				<ul class="footer-links">
					<li><a href="#">ورود</a></li>
					<li><a href="#">ثبت نام</a></li>
					<li><a href="#">حساب من</a></li>
					<li><a href="#">افزودن آگهی</a></li>
					<li><a href="#">قیمت ها</a></li>
					<li><a href="#">حریم خصوصی</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">گفت و گو</a></li>
					<li><a href="#">بلاگ</a></li>
					<li><a href="#">همکاران ما</a></li>
					<li><a href="#">داستان ما</a></li>
					<li><a href="#">تماس</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-3  col-sm-12">
				<h4>تماس با ما</h4>
				<div class="text-widget">
					<span>ایران، ارومیه، شاهین دژ</span> <br>
					تلفن: <span>(123) 123-456 </span><br>
					ایمیل:<span> <a href="#"><span class="__cf_email__" data-cfemail="8ce3eaeae5efe9cce9f4ede1fce0e9a2efe3e1">[email&#160;protected]</span></a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul>

			</div>

		</div>

		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 1398 لیستئو. تمامی حقوق محفوظ است.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

{% block sticky_footer %}
{% endblock %}


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<!--<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'eventinfo/scripts/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/custom.js' %}"></script>

{% block script %}{% endblock %}


</body>

</html>