{% extends 'eventinfo/base_page.html' %}

{% block title %}
{{ salam }} |
    ایونت‌اینفو
{% endblock %}
{% block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2> رزرو فرآیند</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>رزرو فرآیند</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="notification {% if message.tags %}{{ message.tags }}{% endif %} closeable margin-bottom-35">
                        <p>{{ message }}</p>
                        <a class="close"></a>
                    </div>
                {% endfor %}
            {% else %}
			<div class="booking-confirmation-page">
				<i class="fa fa-check-circle"></i>
				<h2 class="margin-top-30">{{ first_name }} از رزرو شما متشکرم!</h2>
				<p>شما یک ایمیل تأیید دریافت خواهید کرد </p>
                <a href="{% url 'eventinfo:account_invoice' ref_code=order.ref_code %}" target="_blank" class="button margin-top-30">مشاهده صورتحساب</a>
			</div>
            {% endif %}

		</div>
	</div>
</div>
<!-- Container / End -->
{% endblock %}
