{% extends 'eventinfo/base_page.html' %}
{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" dir="rtl" lang="fa">
<head>

<!-- Basic Page Needs
================================================== -->
<title>رویدادها</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'eventinfo/css/style.css' %}">
<link rel="stylesheet" href="{% static 'eventinfo/css/main-color.css' %}" id="colors">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="#">صفحه اصلی</a>
							<ul>
								<li><a href="index.html">صفحه اصلی 1</a></li>
								<li><a href="index-2.html">صفحه اصلی 2</a></li>
								<li><a href="index-3.html">صفحه اصلی 3</a></li>
								<li><a href="index-4.html">صفحه اصلی 4</a></li>
								<li><a href="index-5.html">صفحه اصلی 5</a></li>
							</ul>
						</li>

						<li><a class="current" href="#">آگهی ها</a>
							<ul>
								<li><a href="#">طرح آگهی</a>
									<ul>
										<li><a href="events.html">با نوار کناری</a></li>
										<li><a href="listings-list-full-width.html">تمام عرض</a></li>
										<li><a href="listings-list-full-width-with-map.html">عرض کامل + نقشه</a></li>
									</ul>
								</li>
								<li><a href="#">طرح شبکه</a>
									<ul>
										<li><a href="listings-grid-with-sidebar-1.html">با نوار کناری 1</a></li>
										<li><a href="listings-grid-with-sidebar-2.html">با نوار کناری 2</a></li>
										<li><a href="listings-grid-full-width.html">تمام عرض</a></li>
										<li><a href="listings-grid-full-width-with-map.html">عرض کامل + نقشه</a></li>
									</ul>
								</li>
								<li><a href="#">نقشه نیمه صفحه</a>
									<ul>
										<li><a href="listings-half-screen-map-list.html">چیدمان لیست</a></li>
										<li><a href="listings-half-screen-map-grid-1.html">چیدمان شبکه 1</a></li>
										<li><a href="listings-half-screen-map-grid-2.html">چیدمان شبکه 2</a></li>
									</ul>
								</li>
								<li><a href="#">آگهی های تک</a>
									<ul>
										<li><a href="listings-single-page.html">آگهی های تک 1</a></li>
										<li><a href="listings-single-page-2.html">آگهی های تک 2</a></li>
										<li><a href="listings-single-page-3.html">آگهی های تک 3</a></li>
									</ul>
								</li>
							</ul>
						</li>

						<li><a href="#">پنل کاربری</a>
							<ul>
								<li><a href="dashboard.html">داشبورد</a></li>
								<li><a href="dashboard-messages.html">پیام ها</a></li>
								<li><a href="dashboard-bookings.html">رزرو ها</a></li>
								<li><a href="dashboard-wallet.html">کیف پول</a></li>
								<li><a href="dashboard-my-listings.html">آگهی های من</a></li>
								<li><a href="dashboard-reviews.html">نظرات</a></li>
								<li><a href="dashboard-bookmarks.html">نشانکها</a></li>
								<li><a href="dashboard-add-listing.html">افزودن آگهی</a></li>
								<li><a href="dashboard-my-profile.html">پروفایل من</a></li>
								<li><a href="dashboard-invoice.html">صورتحساب</a></li>
							</ul>
						</li>

						<li><a href="#">صفحات</a>
							<div class="mega-menu mobile-styles three-columns">

									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">صفحات #1</li>
											<li><a href="pages-organizer-profile.html"><i class="sl sl-icon-user"></i> پروفایل کاربر</a></li>
											<li><a href="pages-booking.html"><i class="sl sl-icon-check"></i> صفحه رزرو</a></li>
											<li><a href="pages-add-listing.html"><i class="sl sl-icon-plus"></i> افزودن آگهی</a></li>
											<li><a href="pages-blog.html"><i class="sl sl-icon-docs"></i> بلاگ</a></li>
										</ul>
									</div>

									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">صفحات #2</li>
											<li><a href="pages-contact.html"><i class="sl sl-icon-envelope-open"></i> تماس</a></li>
											<li><a href="pages-coming-soon.html"><i class="sl sl-icon-hourglass"></i> به زودی</a></li>
											<li><a href="pages-404.html"><i class="sl sl-icon-close"></i> صفحه 404</a></li>
											<li><a href="pages-masonry-filtering.html"><i class="sl sl-icon-equalizer"></i> ساختار فیلتر</a></li>
										</ul>
									</div>

									<div class="mega-menu-section">
										<ul>
											<li class="mega-menu-headline">و دیگر</li>
											<li><a href="pages-elements.html"><i class="sl sl-icon-settings"></i> المنت ها</a></li>
											<li><a href="pages-pricing-tables.html"><i class="sl sl-icon-tag"></i> جداول قیمت</a></li>
											<li><a href="pages-typography.html"><i class="sl sl-icon-pencil"></i> تایپوگرافی</a></li>
											<li><a href="pages-icons.html"><i class="sl sl-icon-diamond"></i> آیکن ها</a></li>
										</ul>
									</div>

							</div>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> ورود</a>
					<a href="dashboard-add-listing.html" class="button border with-icon">افزودن آگهی <i class="sl sl-icon-plus"></i></a>
				</div>
			</div>
			<!-- Right Side Content / End -->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>ورود</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class=""><a href="#tab1">ورود</a></li>
						<li><a href="#tab2">ثبت نام</a></li>
					</ul>

					<div class="tabs-container alt">

						<!-- Login -->
						<div class="tab-content" id="tab1" style="display: none;">
							<form method="post" class="ورود">

								<p class="form-row form-row-wide">
									<label for="username">نام کاربری:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">رمز عبور:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="lost_password">
										<a href="#" >فراموشی رمز عبور؟</a>
									</span>
								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="ورود" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">مرا به خاطر داشته باش</label>
									</div>
								</div>

							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">

							<p class="form-row form-row-wide">
								<label for="username2">نام کاربری:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="email2">آدرس ایمیل:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">رمز عبور:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">تایید رمز عبور:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="ثبت نام" />

							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>آگهی ها</h2><span>چیدمان شبکه با نوار کناری</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>آگهی ها</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-lg-9 col-md-8 padding-right-30">

			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-25">

				<div class="col-md-6 col-xs-6">
					<!-- Layout Switcher -->
					<div class="layout-switcher">
						<a href="listings-grid-with-sidebar-1.html" class="grid"><i class="fa fa-th"></i></a>
						<a href="#" class="list active"><i class="fa fa-align-justify"></i></a>
					</div>
				</div>

				<div class="col-md-6 col-xs-6">
					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="سفارش پیش فرض" class="chosen-select-no-single">
								<option>سفارش پیش فرض</option>
								<option>بالاترین امتیاز</option>
								<option>بیشترین نظر دار</option>
								<option>آگهی های جدید</option>
								<option>آگهی ها قدیمی</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- Sorting / Layout Switcher / End -->


			<div class="row">

				<!-- Listing Item -->
                {% for event in events %}
				<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<a href="listings-single-page.html" class="listing-item">

							<!-- Image -->
							<div class="listing-item-image">
								<img src="{{ event.event_main_image.url}}" alt="">
								<span class="tag">{{ event.event_type}}</span>
							</div>

							<!-- Content -->
							<div class="listing-item-content">
								<div class="listing-badge now-open">هم اکنون باز است</div>

								<div class="listing-item-inner">
									<h3>{{ event.event_title }}</h3>
									<span>{{ event.event_organizer }}<i class="verified-icon"></i></span>
                                    <span>{{ event.event_venue.venue_address }}</span>
									<div class="star-rating" data-rating="3.5">
										<div class="rating-counter">(12 نظر)</div>
									</div>
								</div>

								<span class="like-icon"></span>
							</div>
						</a>
					</div>
				</div>
                {% endfor %}
				<!-- Listing Item / End -->

			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-3 col-md-4">
			<div class="sidebar">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-30">فیلترها</h3>
                    <form action="" method="get">
					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">

                            {{ search_form }}
							<input type="text" placeholder="دنبال چی میگردی؟" value=""/>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<div class="col-md-12">
							<select data-placeholder="تمام رویدادها" class="chosen-select" >
                                <option>تمام رویدادها</option>
                                {% for type in types %}
					  	    	<option>{{ type.type_title }}</option>
                                {% endfor %}
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">

							<div class="input-with-icon location">
								<div id="autocomplete-container">
									<input id="autocomplete-input" type="text" placeholder="موقعیت">
								</div>
								<a href="#"><i class="fa fa-map-marker"></i></a>
							</div>

						</div>
					</div>
					<!-- Row / End -->
					<br>

					<!-- Area Range -->
					<div class="range-slider">
						<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="شعاع اطراف مقصد انتخاب شده">
					</div>


					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-5 margin-top-20" data-open-title="فیلتر های بیشتر" data-close-title="فیلتر های بیشتر"></a>

					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-15">

							<input id="check-a" type="checkbox" name="check">
							<label for="check-a">آسانسور در ساختمان</label>

							<input id="check-b" type="checkbox" name="check">
							<label for="check-b">فضای کاری دوستانه</label>

							<input id="check-c" type="checkbox" name="check">
							<label for="check-c">رزرو فوری</label>

							<input id="check-d" type="checkbox" name="check">
							<label for="check-d">اینترنت بیسیم</label>

							<input id="check-e" type="checkbox" name="check" >
							<label for="check-e">پارکینگ رایگان در محل</label>

							<input id="check-f" type="checkbox" name="check" >
							<label for="check-f">پارکینگ رایگان در خیابان</label>

							<input id="check-g" type="checkbox" name="check">
							<label for="check-g">سیگار کشیدن مجاز است</label>

							<input id="check-h" type="checkbox" name="check">
							<label for="check-h">رویداد ها</label>

						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- More Search Options / End -->

					<button class="button fullwidth margin-top-25" type="submit">به روز رسانی</button>
                </form>
				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>


<!-- Footer
================================================== -->
<div id="footer" class="margin-top-15">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<img class="footer-logo" src="images/logo.png" alt="">
				<br><br>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
			</div>

			<div class="col-md-4 col-sm-6 ">
				<h4>لینک های کمکی</h4>
				<ul class="footer-links">
					<li><a href="#">ورود</a></li>
					<li><a href="#">ثبت نام</a></li>
					<li><a href="#">حساب من</a></li>
					<li><a href="#">افزودن آگهی</a></li>
					<li><a href="#">قیمت ها</a></li>
					<li><a href="#">حریم خصوصی</a></li>
				</ul>

				<ul class="footer-links">
					<li><a href="#">گفت و گو</a></li>
					<li><a href="#">بلاگ</a></li>
					<li><a href="#">همکاران ما</a></li>
					<li><a href="#">داستان ما</a></li>
					<li><a href="#">تماس</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-3  col-sm-12">
				<h4>تماس با ما</h4>
				<div class="text-widget">
					<span>ایران، ارومیه، شاهین دژ</span> <br>
					تلفن: <span>(123) 123-456 </span><br>
					ایمیل:<span> <a href="#"><span class="__cf_email__" data-cfemail="8ce3eaeae5efe9cce9f4ede1fce0e9a2efe3e1">[email&#160;protected]</span></a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul>

			</div>

		</div>

		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 1398 لیستئو. تمامی حقوق محفوظ است.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<!--<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'eventinfo/scripts/jquery-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/custom.js' %}"></script>

<!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("هیچ اطلاعاتی برای ورودی موجود نیست: '" + place.name + "'");
        return;
      }
    });

	if ($('.main-search-input-item')[0]) {
	    setTimeout(function(){
	        $(".pac-container").prependTo("#autocomplete-container");
	    }, 300);
	}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&amp;libraries=places&amp;callback=initAutocomplete"></script>

<!-- Style Switcher
================================================== -->


</body>

</html>