{% extends 'eventinfo/base_page.html' %}
{% load static %}
{% load jalali_tags %}

{% block css %}
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block title %}
{{ event.event_title}} |
    ایونت‌اینفو
{% endblock %}

{% block titlebar %}
<!-- Gradient-->
<div class="single-listing-page-titlebar"></div>
{% endblock %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<h2>{{ event.event_title}}<span class="listing-tag">{{ event.event_type }}</span></h2>
					<span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							{{ event.get_venue_display }}
						</a>
					</span>
					<div class="star-rating" data-rating="5">
						<div class="rating-counter"><a href="#listing-reviews">(3نظر)</a></div>
					</div>
				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">توضیحات</a></li>
					<li><a href="#event-guest">سخنرانان</a></li>
				</ul>
			</div>
			
			<!-- Overview -->
			<div id="listing-overview" class="listing-section">

				<!-- Event Description -->
                {% for time_slot in time_slots %}
                    <ul class="apartment-details">
                        <li class="main-detail-_event_date">شروع رویداد: <span>{{ time_slot.event_start_date }}</span></li>
                        <li class="main-detail-_event_date_end">پایان رویداد: <span>{{ time_slot.event_end_date }}</span></li>
                    </ul>
                {% endfor %}



				<!-- Description -->
				<p>
				    {{ event.event_description }}
                </p><br>

				
				<!-- Listing Contacts -->
				<div class="clearfix"></div>



			</div>
        {% if guests %}
            <!-- guests -->
                <div id="event-guest" class="listing-section">
				<h3 class="listing-desc-headline">سخنرانان</h3>
                {% for guest in guests %}
                <div class="boxed-widget margin-top-35 col-md-4">
				<div class="hosted-by-title">
					<h4><a href="pages-organizer-profile.html">{{ guest.get_full_name }}</a><span>هنرمند</span></h4>
					<a href="pages-organizer-profile.html" class="hosted-by-avatar"><img src="{{ guest.guest_image.url }}" alt=""></a>
				</div>

				<ul class="listing-details-sidebar social-profiles">
                    					<li><i class="sl sl-icon-globe"></i> <a href="{{ guest.guest_website }}">وبسایت</a></li>
					<li><i class="fa fa-envelope-o"></i> <a href="{{ guest.guest_email }}">ایمیل</a></li>
					<li><a href="https://instagram.com/{{ guest.guest_instagram }}" class="instagram-profile"><i class="fa fa-instagram"></i> اینستاگرام</a></li>
				</ul>

				<!-- Reply to review popup -->

			</div>
            {% endfor %}
            </div>
        {%  endif %}


			<!-- Slider -->
            {% if gallery %}
			<div id="listing-gallery" class="listing-section">
				<h3 class="listing-desc-headline margin-top-70">گالری</h3>
				<div class="listing-slider-small mfp-gallery-container margin-bottom-0">
					<a href="images/single-listing-02a.jpg" data-background-image="images/single-listing-02a.jpg" class="item mfp-gallery" title="عکس 2"></a>
				</div>
			</div>
            {% endif %}
            {% if not event.is_online  %}
			<!-- Location -->
			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-60 margin-bottom-30">موقعیت</h3>

				<div id="singleListingMap-container">
                    <div id = "singleListingMap"></div>
				</div>
			</div>
            {% endif %}


		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">

			<!-- Book Now -->
            <div id="booking-widget-anchor" class="listing-item-container compact order-summary-widget">
				<div class="listing-item">
					<img src="{{ event.event_main_image.url}}" alt="">

					<div class="listing-item-content">
                        <span class="tag">گفت‌وگو</span>
						<div class="numerical-rating" data-rating="5.0"></div>
						<h3>{{ event.event_title }}</h3>
						<span><i class="fa fa-map-marker"></i>
							{{ event.get_venue_display }}
                        </span>
					</div>
				</div>
			</div>

            {% if order_qs %}
            <div class="boxed-widget opening-hours summary margin-top-0">
				<h3><i class="fa fa-calendar-check-o"></i> خلاصه رزرو</h3>
                {% for item in order_qs.0.items.all %}
                {% if item.seats > 0 %}
				<ul>
					<li>تاریخ <span>{{ item.ticket.ticket_time_slot.event_start_date|date:'l j b Y'}}</span></li>
					<li>ساعت <span>{{ item.ticket.ticket_time_slot.event_start_date|date:'H:i' }}</span></li>
					<li>{{ item.ticket.ticket_title }} <span>{{ item.seats }} عدد </span></li>
                    <li>قیمت <span>{{ item.ticket.get_price }} </span></li>
                    <li class="total-costs"></li>
				</ul>
                {% endif %}
                {% endfor %}
                <ul>
                    <li class="total-costs" style="border-top:0px; margin-top: 0px">هزینه کل <span>{{ order_qs.0.get_total_cost }} تومان</span></li>
                </ul>
                <a class="button fullwidth margin-top-35" href="{% url 'eventinfo:booking_checkout' event_id=event.id %}">تایید و پرداخت</a>
            <a class="button fullwidth margin-top-5" href="{% url 'eventinfo:booking_tickets' event_id=event.id %}">ویرایش بلیت‌ها</a>

			</div>
            {% endif %}

            {% if not order_qs %}
			<div class="boxed-widget booking-widget margin-top-0">
                <h3><i class="fa fa-calendar-check-o "></i> رزرو بلیت </h3>
                <!-- Book Now -->
                {% if user.is_authenticated %}
                <a href="{% url "eventinfo:booking_tickets" event_id=event.id %}" class="button book-now fullwidth margin-top-5">رزرو بلیت</a>
                {% else %}
                <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim button book-now fullwidth margin-top-5">ابتدا وارد شوید.</a>
                {% endif %}
			</div>
            {% endif %}
			<!-- Book Now / End -->

			<!-- Contact -->
			<div class="boxed-widget margin-top-35">
				<div class="hosted-by-title">
					<h4><span>برگزار کننده:</span> <a href="{% url 'eventinfo:organizer_profile' organizer_id=event.event_organizer.id %}">{{ event.event_organizer.organizer_name }}</a></h4>
					<a href="{% url 'eventinfo:organizer_profile' organizer_id=event.event_organizer.id %}" class="hosted-by-avatar"><img src="{{ event.event_organizer.organizer_logo.url }}" alt=""></a>
				</div>
				<ul class="listing-details-sidebar">
					<li><i class="sl sl-icon-phone"></i>02122267686</li>
					<!-- <li><i class="sl sl-icon-globe"></i> <a href="#">http://example.com</a></li> -->
					<!--<li><i class="fa fa-envelope-o"></i> <a href="#"><span class="__cf_email__" data-cfemail="a1d5cecce1c4d9c0ccd1cdc48fc2cecc">[email&#160;protected]</span></a></li> -->
				</ul>

				<ul class="listing-details-sidebar social-profiles">
                    {%  if event.event_organizer.organizer_instagram %}
                    <li>
                        <a href="Https://instagram.com/{{ event.event_organizer.organizer_instagram }}" class="instagram-profile">
                        <i class="fa fa-instagram"></i> اینستاگرام</a>
                    </li>
					{% endif %}
                    <li><a href="#" class="twitter-profile"><i class="fa fa-twitter"></i> توییتر</a></li>
					<!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
				</ul>

				<!-- Reply to review popup -->
				<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
					<div class="small-dialog-header">
						<h3>ارسال پیام</h3>
					</div>
					<div class="message-reply margin-top-0">
						<textarea cols="40" rows="3" placeholder="پیام شما به تام"></textarea>
						<button class="button">ارسال پیام</button>
					</div>
				</div>
                <!-- Folow Organizer -->
                <!-- TODO: FOLLOW ORGANIZER -->




				<a href="#small-dialog" class="send-message-to-owner button popup-with-zoom-anim"><i class="sl sl-icon-envelope-open"></i> ارسال پیام</a>
			</div>
			<!-- Contact / End-->


			<!-- Share / Like -->
			<div class="listing-share margin-top-40 margin-bottom-40 no-border">
                <div id="bookmark-section">
                    {% include 'eventinfo/widgets/event_bookmark.html' %}
                </div>

					<!-- Share Buttons -->
					<div class="clearfix"></div>
			</div>

		</div>
		<!-- Sidebar / End -->

	</div>
</div>

{% endblock %}

{% block sticky_footer %}
    <div class="booking-sticky-footer">
			<div class="container">
				<div class="bsf-left">
                    <h4>رایگان!</h4>
                    <div class="star-rating" data-rating="3"></div>
				</div>
				<div class="bsf-right">
					<a href="#booking-widget-anchor" class="button">رزرو</a>
				</div>
			</div>
		</div>
{% endblock %}

{% block script %}
 <!-- Maps -->
<script type="text/javascript" src="{% static 'eventinfo/scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'eventinfo/scripts/maps.js' %}"></script>
<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>

<!-- Booking Widget - Quantity Buttons -->
<script src="{% static 'eventinfo/scripts/quantityButtons.js' %}"></script>

<!-- Date Range Picker - docs: http://www.daterangepicker.com/ -->
<script src="{% static 'eventinfo/scripts/moment.min.js' %}"></script>
<script src="{% static 'eventinfo/scripts/daterangepicker.js' %}"></script>
<script>
$(".time-slot").each(function() {
	var timeSlot = $(this);
	$(this).find('input').on('change',function() {
		var timeSlotVal = timeSlot.find('strong').text();

		$('.panel-dropdown.time-slots-dropdown a').html(timeSlotVal);
		$('.panel-dropdown').removeClass('active');
	});
});
</script>

<script>
jQuery(function($) {

    var dates = [];

    {% for time_slot in time_slots %}
    var a = moment("{{ time_slot.event_start_date|date:'Y-m-d' }}");
    var b = moment("{{ time_slot.event_end_date|date:'Y-m-d' }}");
    {% endfor %}


    $("#date-picker").daterangepicker({
        singleDatePicker: true,
        opens:'center',
        isInvalidDate: function(date) {
            return !(date <= a && date >= b);
        }
    });
});

// Calendar animation
$('#date-picker').on('showCalendar.daterangepicker', function(ev, picker) {
	$('.daterangepicker').addClass('calendar-animated');
});
$('#date-picker').on('show.daterangepicker', function(ev, picker) {
	$('.daterangepicker').addClass('calendar-visible');
	$('.daterangepicker').removeClass('calendar-hidden');
});
$('#date-picker').on('hide.daterangepicker', function(ev, picker) {
	$('.daterangepicker').removeClass('calendar-visible');
	$('.daterangepicker').addClass('calendar-hidden');
});
</script>
<script>
// Creating map options
var mapOptions = {
center: [{{ event.event_venue.venue_map_lat }}, {{ event.event_venue.venue_map_long}}],
zoom: 16
}

// Creating a map object
var map = new L.map('singleListingMap', mapOptions);
// Creating a Layer object
var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});
// Adding layer to the map
map.addLayer(layer);
var myIcon = L.divIcon({
    iconSize:null,
    html: '<div class="map-marker-container clicked" style="left: 0px; top: 0.203125px;"><div class="marker-container"><div class="marker-card"><div class="front face"><i class="im im-icon-Map-Marker2"></i></div><div class="back face"><i class="im im-icon-Map-Marker2"></i></div><div class="marker-arrow"></div></div></div></div>'
    });
// you can set .my-div-icon styles in CSS
L.marker([{{ event.event_venue.venue_map_lat }}, {{ event.event_venue.venue_map_long}}], {icon: myIcon}).addTo(map);


</script>
{% csrf_token %}
<script type="text/javascript">
    $(document).ready(function (event) {
        $(document).on('click', '.like-icon, .like-button', function (event) {
            event.preventDefault();
            var pk = $(this).attr('event-id');
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: 'POST',
                url: '{% url 'eventinfo:bookmark_toggle' %}',
                data: {'event_id': pk, 'csrfmiddlewaretoken':csrftoken},
                dataType: 'json',
                success: function (response) {
                    $('#bookmark-section').html(response['form']);
                    console.log($('#bookmark-section').html(response['form']));
                },
                error: function (rs, e) {
                    console.log(rs.responseText);
                },
            });
        });
    });
</script>


{% endblock %}