{% extends 'eventinfo/base_page.html' %}

{% block title %}
رویدادها
{% endblock %}


{% block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>آگهی ها</h2><span>چیدمان شبکه با نوار کناری</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>آگهی ها</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock titlebar %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-lg-9 col-md-8 padding-right-30">

			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-25">

				<div class="col-md-6 col-xs-6">
					<!-- Layout Switcher -->
					<div class="layout-switcher">
						<a href="listings-grid-with-sidebar-1.html" class="grid"><i class="fa fa-th"></i></a>
						<a href="#" class="list active"><i class="fa fa-align-justify"></i></a>
					</div>
				</div>

				<div class="col-md-6 col-xs-6">
					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="سفارش پیش فرض" class="chosen-select-no-single">
								<option>سفارش پیش فرض</option>	
								<option>بالاترین امتیاز</option>
								<option>بیشترین نظر دار</option>
								<option>آگهی های جدید</option>
								<option>آگهی ها قدیمی</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- Sorting / Layout Switcher / End -->


			<div class="row">

				<!-- Listing Item -->
                {% for event in events %}
				<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<a href="{% url "eventinfo:event_detail" event_id=event.id %}" class="listing-item">
							
							<!-- Image -->
							<div class="listing-item-image">
								<img src="{{ event.event_main_image.url}}" alt="">
								<span class="tag">{{ event.event_type}}</span>
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">
								<div class="listing-badge now-open">هم اکنون باز است</div>

								<div class="listing-item-inner">
									<h3>{{ event.event_title }}</h3>
									<span>{{ event.event_organizer }}<i class="verified-icon"></i></span>
                                    <span>{{ event.event_venue.venue_address }}</span>
									<div class="star-rating" data-rating="3.5">
										<div class="rating-counter">(12 نظر)</div>
									</div>
								</div>

								<span class="like-icon"></span>
							</div>
						</a>
					</div>
				</div>
                {% endfor %}
				<!-- Listing Item / End -->

			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-3 col-md-4">
			<div class="sidebar">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-30">فیلترها</h3>
                    <form action="" method="get">
					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">

                            {{ search_form }}
							<input type="text" placeholder="دنبال چی میگردی؟" value=""/>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<div class="col-md-12">
							<select data-placeholder="تمام رویدادها" class="chosen-select" >
                                <option>تمام رویدادها</option>
                                {% for type in types %}
					  	    	<option>{{ type.type_title }}</option>
                                {% endfor %}
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">

							<div class="input-with-icon location">
								<div id="autocomplete-container">
									<input id="autocomplete-input" type="text" placeholder="موقعیت">
								</div>
								<a href="#"><i class="fa fa-map-marker"></i></a>
							</div>

						</div>
					</div>
					<!-- Row / End -->
					<br>

					<!-- Area Range -->
					<div class="range-slider">
						<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="شعاع اطراف مقصد انتخاب شده">
					</div>


					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-5 margin-top-20" data-open-title="فیلتر های بیشتر" data-close-title="فیلتر های بیشتر"></a>

					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-15">
					
							<input id="check-a" type="checkbox" name="check">
							<label for="check-a">آسانسور در ساختمان</label>

							<input id="check-b" type="checkbox" name="check">
							<label for="check-b">فضای کاری دوستانه</label>

							<input id="check-c" type="checkbox" name="check">
							<label for="check-c">رزرو فوری</label>

							<input id="check-d" type="checkbox" name="check">
							<label for="check-d">اینترنت بیسیم</label>

							<input id="check-e" type="checkbox" name="check" >
							<label for="check-e">پارکینگ رایگان در محل</label>

							<input id="check-f" type="checkbox" name="check" >
							<label for="check-f">پارکینگ رایگان در خیابان</label>

							<input id="check-g" type="checkbox" name="check">
							<label for="check-g">سیگار کشیدن مجاز است</label>	

							<input id="check-h" type="checkbox" name="check">
							<label for="check-h">رویداد ها</label>
					
						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- More Search Options / End -->

					<button class="button fullwidth margin-top-25" type="submit">به روز رسانی</button>
                </form>
				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>

{% endblock %}

{% block script %}
    <!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("هیچ اطلاعاتی برای ورودی موجود نیست: '" + place.name + "'");
        return;
      }
    });

	if ($('.main-search-input-item')[0]) {
	    setTimeout(function(){
	        $(".pac-container").prependTo("#autocomplete-container");
	    }, 300);
	}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&amp;libraries=places&amp;callback=initAutocomplete"></script>

{% endblock %}