{% extends 'eventinfo/base_page.html' %}
{% load static %}

{% block title %}
{{ salam }} |
    ایونت‌اینفو
{% endblock %}

{% block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>رزرو بلیت</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>رزرو</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">

		<!-- Content
		================================================== -->
		<div class="col-lg-8 col-md-8 padding-right-30">

			<h3 class="margin-top-0 margin-bottom-30">اطلاعات شخصی</h3>

			<div class="row">

				<div class="col-md-6">
					<label>نام</label>
                    <input type="text" value="{{ user.first_name }}">
				</div>

				<div class="col-md-6">
					<label>نام خانوادگی</label>
					<input type="text" value="{{ user.last_name }}">
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>آدرس ایمیل</label>
						<input type="text" value="{{ user.email }}">
						<i class="im im-icon-Mail"></i>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>موبایل</label>
						<input type="text" value="{{ user.profile.mobile }}">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>

			</div>


			<h3 class="margin-top-55 margin-bottom-30">روش پرداخت</h3>

			<!-- Payment Methods Accordion -->
			<div class="payment">

				<div class="payment-tab payment-tab-active">
					<div class="payment-tab-trigger">
						<input checked id="paypal" name="cardType" type="radio" value="paypal">
						<label for="paypal">پرداخت از اعتبار</label>
						<img class="payment-logo paypal" src="../../../i.imgur.com/ApBxkXU.png" alt="">
					</div>

					<div class="payment-tab-content">
						<p>اعتبار حساب شما در حال حاضر
                            {{ user.profile.balance }}
                            می‌باشد.
                        </p>
					</div>
				</div>


				<div class="payment-tab">
					<div class="payment-tab-trigger">
						<input type="radio" name="cardType" id="creditCart" value="creditCard">
						<label for="creditCart">پرداخت اینترنتی</label>
						<img class="payment-logo" src="../../../i.imgur.com/IHEKLgm.png" alt="">
					</div>

					<div class="payment-tab-content">
						<div class="row">

							<div class="col-md-6">
								<div class="card-label">
									<label for="nameOnCard">نام بر روی کارت</label>
									<input id="nameOnCard" name="nameOnCard" required type="text">
								</div>
							</div>

							<div class="col-md-6">
								<div class="card-label">
									<label for="cardNumber">شماره کارت</label>
									<input id="cardNumber" name="cardNumber" placeholder="1234  5678  9876  5432" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="expirynDate">ماه انقضاء</label>
									<input id="expiryDate" placeholder="ماه" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="expiryDate">سال انقضا</label>
									<input id="expirynDate" placeholder="سال" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="cvv">CVV</label>
									<input id="cvv" required type="text">
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- Payment Methods Accordion / End -->
		
			<a href="pages-booking-confirmation.html" class="button booking-confirmation-btn margin-top-40 margin-bottom-65">تایید و پرداخت</a>
		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

			<!-- Booking Summary -->
			<div class="listing-item-container compact order-summary-widget">
				<div class="listing-item">
					<img src="{{ event.event_main_image.url}}" alt="">

					<div class="listing-item-content">
                        <span class="tag">گفت‌وگو</span>
						<div class="numerical-rating" data-rating="5.0"></div>
						<h3>{{ event.event_title }}</h3>
						<span><i class="fa fa-map-marker"></i>
							{{ event.event_venue.venue_city}}
                            ،
                            {{ event.event_venue.venue_name }}
                        </span>
					</div>
				</div>
			</div>

            <!-- TODO: BOOKING DETAIL UPDTAE -->
			<div class="boxed-widget opening-hours summary margin-top-0">
				<h3><i class="fa fa-calendar-check-o"></i> خلاصه رزرو</h3>
				<ul>
					<li>تاریخ <span>{{ book_ticket.ticket_time_slot.event_start_date|date:'l j b Y'}}</span></li>
					<li>ساعت <span>{{ book_ticket.ticket_time_slot.event_start_date|date:'H:i' }}</span></li>
					<li>{{ book_ticket.ticket_title }} <span>{{ book_seats }} عدد </span></li>
					<li class="total-costs">هزینه کل <span>{{ book_total_cost }} تومان</span></li>
				</ul>

			</div>
			<!-- Booking Summary / End -->

		</div>

	</div>
</div>
<!-- Container / End -->
{% endblock %}