{% extends 'eventinfo/base_page.html' %}
{% load poll_extras %}

{% block title %}
رویدادها
{% endblock %}


{% block titlebar %}
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>آگهی ها</h2><span>چیدمان شبکه با نوار کناری</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">صفحه اصلی</a></li>
						<li>آگهی ها</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock titlebar %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-lg-9 col-md-8 padding-right-30">

			<!-- Sorting / Layout Switcher -->
			<div class="row margin-bottom-25">

				<div class="col-md-6 col-xs-6">
					<!-- Layout Switcher -->
					<div class="layout-switcher">
						<a href="listings-grid-with-sidebar-1.html" class="grid"><i class="fa fa-th"></i></a>
						<a href="#" class="list active"><i class="fa fa-align-justify"></i></a>
					</div>
				</div>

				<div class="col-md-6 col-xs-6">
					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="سفارش پیش فرض" class="chosen-select-no-single">
								<option>سفارش پیش فرض</option>
                                <option>بالاترین امتیاز</option>
								<option>بیشترین نظر دار</option>
								<option>آگهی های جدید</option>
								<option>آگهی ها قدیمی</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- Sorting / Layout Switcher / End -->


			<div class="row">

				<!-- Listing Item -->
                {% for event in events %}
                {%  comment %}{{ event.get_published }}{% endcomment %}
				<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<a href="{% url "eventinfo:event_detail" event_id=event.id %}" class="listing-item">
							
							<!-- Image -->
							<div class="listing-item-image">
								<img src="{{ event.event_main_image.url}}" alt="">
								<span class="tag">{{ event.event_type }}</span>
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">
								<div class="listing-item-inner">
									<h3>{{ event.event_title }}</h3>
									<span>{{ event.event_organizer }}</span><br>
                                    {{ event.get_status.1 }}

                                    <div class="listing-list-small-badges-container">
                                    <div class="listing-small-badge pricing-badge"><i class="fa fa-tag"></i>{{ event.get_price_display }}</div><br>
                                    <div class="listing-small-badge"><i class="fa fa-calendar-check-o"></i>{{ event.get_start_date_display }}</div>

                                    </div>
                                    <span>
                                        <i class="fa fa-map-marker"></i>
                                        {{ event.get_venue_display }}
                                    </span>


								</div>
                                {% if user.is_authenticated %}
                                    {% if event|is_bookmarked:user.id %}
                                        <span class="like-icon liked" event-id="{{ event.id }}"></span>
                                    {% else %}
                                        <span class="like-icon" event-id="{{ event.id }}"></span>
                                    {% endif %}
                                {% endif %}


							</div>
						</a>
					</div>
				</div>
                {% empty %}
                <div class="col-lg-12 col-md-12">
                        <span>هیج رویدادی یافت نشد!</span>
                </div>

                {% endfor %}
				<!-- Listing Item / End -->

			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
                                {% if events.has_previous %}
                                <li><a href="?page={{ events.previous_page_number }}"><i class="sl sl-icon-arrow-right"></i></a></li>
                                {% endif %}
                                {% for num in events.paginator.page_range %}
                                    {% if events.number ==  num %}
								        <li><a href="?page={{ num }}" class="current-page">{{num}}</a></li>
                                    {% elif num > events.number|add:'-3' and num < events.number|add:'3' %}
                                        <li><a href="?page={{ num }}">{{num}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if events.has_next %}
                                <li><a href="?page={{ events.next_page_number }}"><i class="sl sl-icon-arrow-left"></i></a></li>
                                {% endif %}
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-3 col-md-4">
			<div class="sidebar">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-30">فیلترها</h3>
                    <form action="" method="GET">
					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">
                            {{ search_form }}
						</div>
					</div>
					<!-- Row / End -->
					<button class="button fullwidth margin-top-10" type="submit">به روز رسانی</button>
                    <a class="button fullwidth margin-top-5" href="{% url 'eventinfo:event_list' %}" >پاک کردن فیلترها</a>
                </form>
				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->
	</div>
</div>

{% endblock %}

{% block script %}
    <!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        window.alert("هیچ اطلاعاتی برای ورودی موجود نیست: '" + place.name + "'");
        return;
      }
    });

	if ($('.main-search-input-item')[0]) {
	    setTimeout(function(){
	        $(".pac-container").prependTo("#autocomplete-container");
	    }, 300);
	}
}
</script>
{% csrf_token %}
<script type="text/javascript">
    $(document).ready(function (event) {
        $(document).on('click', '.like-icon, .like-button', function (event) {
            event.preventDefault();
            var pk = $(this).attr('event-id');
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: 'POST',
                url: '{% url 'eventinfo:bookmark_toggle' %}',
                data: {'event_id': pk, 'csrfmiddlewaretoken':csrftoken},
                dataType: 'json',
                success: function (response) {
                    $('#bookmark-section').html(response['form']);
                    console.log($('#bookmark-section').html(response['form']));
                },
                error: function (rs, e) {
                    console.log(rs.responseText);
                },
            });
        });
    });
</script>

{% endblock %}