{% extends 'eventinfo/base_page.html' %}
{% load static %}

{% block index_css %}{{ 'class="transparent-header"' }}{% endblock %}

{% block title %}
صفحه اصلی
{% endblock %}
{% block banner %}
<!-- Banner
================================================== -->
<div class="main-search-container centered" data-background-image="media/main_image/main-search-video-poster.jpg">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>
						پیدا کردن نزدیک‌ترین
						<!-- Typed words can be configured in script settings at the bottom of this HTML file -->
						<span class="typed-words"></span>
					</h2>
					<h4>کشف جاذبه های برتر، فعالیت ها و موارد دیگر</h4>

                    <form action="{% url 'eventinfo:event_list' %}" method="GET">
                        <div class="main-search-input">
                            <div class="main-search-input-item">
                                {{ search_form.q }}
                            </div>

                            <div class="main-search-input-item location">
                                <div id="autocomplete-container">
                                    <input id="autocomplete-input" type="text" placeholder="موقعیت">
                                </div>
                                <a href="#"><i class="fa fa-map-marker"></i></a>
                            </div>

                            <div class="main-search-input-item">
                            {{ search_form.event_type }}
                            </div>

                            <button class="button" onclick="window.location.href='listings-half-screen-map-list.html'">جستجو</button>
                        </div>
                    </form>
				</div>
			</div>
			
			<!-- Features Categories -->
			<div class="row">
				<div class="col-md-12">
					<h5 class="highlighted-categories-headline">یا فهرستهای ویژه را مرور کنید:</h5>
					  
					<div class="highlighted-categories">
						<!-- Box -->
						<a href="listings-list-with-sidebar.html" class="highlighted-category">
					    	<i class="im im-icon-Home"></i>
					    	<h4>آپارتمان ها</h4>
						</a>	

						<!-- Box -->
						<a href="listings-list-full-width.html" class="highlighted-category">
					    	<i class="im im-icon-Hamburger"></i>
					    	<h4>خوردن و نوشیدن</h4>
						</a>	

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<i class="im im-icon-Electric-Guitar"></i>
					    	<h4>رویداد</h4>
						</a>	

						<!-- Box -->
						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<i class="im im-icon-Dumbbell"></i>
					    	<h4>باشگاه</h4>
						</a>		
					</div>
					
				</div>
			</div>
			<!-- Featured Categories - End -->

		</div>

	</div>
</div>
{% endblock %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				<strong class="headline-with-separator">دسته های محبوب</strong>
			</h3>
		</div>

		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">
                {% for type in event_type_list %}
                    <!-- Box -->
                    <a href="{% url "eventinfo:event_list" %}?event_type={{ type.event_type }}" class="category-small-box">
                        <i class="{{ type.event_type__type_icon }}"></i>
                        <h4>{{ type.event_type__type_title }}</h4>
                        <span class="category-box-counter">{{ type.count }}</span>
                    </a>
                {% endfor %}

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->




<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					<strong class="headline-with-separator">جدید‌ترین رویدادهای اضافه شده</strong>
					<span>کشف کسب و کارهای محلی با رتبه بالا</span>
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

                {% for event in events|slice:":4" %}
				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="{% url "eventinfo:event_detail" event_id=event.id %}" class="listing-item-container">
						<div class="listing-item">
                            <div class="listing-small-badges-container">
                                <!-- TODO: listing badge load from model -->
                                <div class="listing-small-badge pricing-badge"><i class="fa fa-tag"></i>رایگان</div>
                                <div class="listing-small-badge"><i class="fa fa-calendar-check-o"></i>دوشنبه ۱۴ فروردین</div>
                            </div>
							<img src="{{ event.event_main_image.url}}" alt="">
							<div class="listing-item-content">
								<span class="tag">{{ event.event_type }}</span>
								<h3>{{ event.event_title }}</h3>
								<span>{{ event.event_venue.venue_name }}</span>
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating" data-rating="5.0">
							<div class="rating-counter">(23 نظر)</div>
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->		
                {% endfor %}
				</div>
				
			</div>

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->

<section class="fullwidth padding-top-75 padding-bottom-30" data-background-color="#fff">
	<!-- Info Section -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered headline-extra-spacing">
					<strong class="headline-with-separator">کاربران ما چه میگویند؟</strong>
					<span class="margin-top-25">ما بررسی ها را از کاربران ما جمع آوری می کنیم، بنابراین می توانید یک نظر صادقانه در مورد اینکه تجربه ای که در وب سایت ما در آن وجود دارد، انجام دهید.</span>
				</h3>
			</div>
		</div>

	</div>
	<!-- Info Section / End -->

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container margin-top-20 no-dots">
		<div class="testimonial-carousel testimonials">

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-01.jpg" alt="">
					<h4>جعفر عباسی <span>فروشگاه قهوه ساز</span></h4>
				</div>
			</div>
			
			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-02.jpg" alt="">
					<h4>تام برکر <span>فروشنده فروشگاه پوشاک</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</div>
				</div>
				<div class="testimonial-author">
					<img src="images/happy-client-03.jpg" alt="">
					<h4>جک بردن <span>صاحب رستوران</span></h4>
				</div>
			</div>

		</div>
	</div>
	<!-- Categories Carousel / End -->

</section>



<!-- Info Section -->
<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="headline centered headline-extra-spacing">
				<strong class="headline-with-separator">برنامه ریزی برای تعطیلات رویاهای شما</strong>
				<span class="margin-top-25">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنا!</span>
			</h3>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Map2"></i>
				<h3>مکان جالب پیدا کنید</h3>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>با چند مالک تماس بگیرید</h3>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنانه.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>رزرو کنید</h3>
				<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنانه.</p>
			</div>
		</div>
	</div>

</div>
</section>
<!-- Info Section / End -->


<!-- Recent Blog Posts -->
<section class="fullwidth margin-top-0 padding-top-75 padding-bottom-75" data-background-color="#fff">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-55">
					<strong class="headline-with-separator">از وبلاگ</strong>
				</h3>
			</div>
		</div>

		<div class="row">
			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="images/blog-compact-post-01.jpg" alt="">
						<span class="blog-item-tag">نکات</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>خرداد 1398</li>
							</ul>
							<h3>هتل ها برای همه بودجه</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنانه.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="images/blog-compact-post-02.jpg" alt="">
						<span class="blog-item-tag">نکات</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>خرداد 1398</li>
							</ul>
							<h3>رستوران های حرفه ای و مجلل در تالار بهار</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنانه.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="images/blog-compact-post-03.jpg" alt="">
						<span class="blog-item-tag">نکات</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>خرداد 1398</li>
							</ul>
							<h3>بهترین کافی شاپ در محله های سیدنی</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنانه.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<div class="col-md-12 centered-content">
				<a href="pages-blog.html" class="button border margin-top-10">مشاهده بلاگ</a>
			</div>

		</div>

	</div>
</section>
<!-- Recent Blog Posts / End -->
{% endblock %}
{% block script %}
<!-- Typed Script -->
<script type="text/javascript" src="{% static 'eventinfo/scripts/typed.js' %}"></script>
<script>
var typed = new Typed('.typed-words', {
strings: ["جاذبه ها"," رستوران ها"," هتل ها"],
	typeSpeed: 80,
	backSpeed: 80,
	backDelay: 4000,
	startDelay: 1000,
	loop: true,
	showCursor: true
});
</script>
<style type="text/css" data-typed-js-css="true">
        .typed-cursor{
          opacity: 1;
        }
        .typed-cursor.typed-cursor--blink{
          animation: typedjsBlink 0.7s infinite;
          -webkit-animation: typedjsBlink 0.7s infinite;
                  animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }
</style>

{%  endblock %}